.container{
  width: 1200px;
  margin: 0 auto;
}
.inp{
  max-width: 100%;
  padding: 10px 0;
  display: grid;
  border: none;

  outline: none;
}
.inp label{
  font-size: 20px;
}
.inp input{
  padding: 10px;
  border: 1px solid rgb(253, 63, 94);
}
button{
  background:  rgb(253, 63, 94) !important;
  border: 1px solid rgb(253, 63, 94);
  color: white;
  padding: 10px 15px;
}
.back{
  height: 500px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/640px-Heart_coraz%C3%B3n.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
.inner{
  padding: 20px;

}
.inner h2{
  margin-top:120px ;
}
.inner h2,p{

  text-align: center;
  color: white;
}
.inner p{
  font-size: 20px;
}
@media screen and (max-width:768px) {
  .container{
    width: 100%;
padding: 10px;
 
  }
  .inp input{
    width: 100%;
  }
}